[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjwt = "*"
flask-bcrypt = "*"

[dev-packages]
alembic = "*"
flask = "*"
flask-sqlalchemy = "*"

[requires]
python_version = "3.12"
